.overview {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.overview .div {
  background-color: #f4f4f4;
  height: 1024px;
  position: relative;
  width: 1440px;
}

.overview .overlap {
  background-color: #008f8f;
  height: 1024px;
  left: 0;
  position: absolute;
  top: 0;
  width: 243px;
}

.overview .vector {
  height: 1px;
  left: 18px;
  object-fit: cover;
  position: absolute;
  top: 176px;
  width: 206px;
}

.overview .overlap-group {
  height: 183px;
  left: 0;
  position: absolute;
  top: 220px;
  width: 243px;
}

.overview .rectangle {
  background-color: var(--secondary);
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 243px;
}

.overview .frame {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 25px;
  left: 40px;
  position: absolute;
  top: 12px;
}

.overview .group {
  height: 24px;
  margin-right: -2px;
  position: relative;
  width: 111px;
}

.overview .text-wrapper {
  color: var(--black-1);
  font-family: "Roboto-SemiBold", Helvetica;
  font-size: 16px;
  font-weight: 600;
  height: 24px;
  left: 42px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.overview .icon-instance-node {
  height: 24px;
  left: 0;
  position: absolute;
  top: 0;
  width: 24px;
}

.overview .group-2 {
  height: 24px;
  position: relative;
  width: 85px;
}

.overview .text-wrapper-2 {
  color: var(--white);
  font-family: "Roboto-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 24px;
  left: 42px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.overview .group-3 {
  height: 24px;
  position: relative;
  width: 99.28px;
}

.overview .group-4 {
  height: 24px;
  position: relative;
  width: 94px;
}

.overview .IMG {
  height: 99px;
  left: 53px;
  position: absolute;
  top: 45px;
  width: 137px;
}

.overview .overlap-2 {
  background-color: #ffffff;
  box-shadow: 2px 8px 20px #b5b5b533;
  height: 100px;
  left: 243px;
  position: absolute;
  top: 1px;
  width: 1197px;
}

.overview .img {
  height: 32px;
  left: 37px;
  position: absolute;
  top: 38px;
  width: 138px;
}

.overview .group-wrapper {
  height: 44px;
  left: 1061px;
  position: absolute;
  top: 27px;
  width: 96px;
}

.overview .group-5 {
  height: 44px;
  position: relative;
  width: 100px;
}

.overview .text-wrapper-3 {
  color: var(--black);
  font-family: "Roboto-SemiBold", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0.5px;
  line-height: 24px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.overview .text-wrapper-4 {
  color: var(--text-grey);
  font-family: var(--body-medium-font-family);
  font-size: var(--body-medium-font-size);
  font-style: var(--body-medium-font-style);
  font-weight: var(--body-medium-font-weight);
  height: 20px;
  left: 0;
  letter-spacing: var(--body-medium-letter-spacing);
  line-height: var(--body-medium-line-height);
  position: absolute;
  top: 24px;
  white-space: nowrap;
}

.overview .overlap-wrapper {
  height: 168px;
  left: 283px;
  position: absolute;
  top: 140px;
  width: 346px;
}

.overview .overlap-3 {
  height: 168px;
  position: relative;
  width: 350px;
}

.overview .employees {
  height: 168px;
  left: 0;
  position: absolute;
  top: 0;
  width: 350px;
}

.overview .overlap-group-2 {
  background-color: #004f4f;
  border-radius: 20px;
  height: 168px;
  position: relative;
  width: 346px;
}

.overview .text-wrapper-5 {
  color: var(--white);
  font-family: "Roboto-SemiBold", Helvetica;
  font-size: 28px;
  font-weight: 600;
  height: 36px;
  left: 24px;
  letter-spacing: 0;
  line-height: 36px;
  position: absolute;
  top: 80px;
  white-space: nowrap;
}

.overview .TOTAL-NUMBER-OF {
  color: var(--gray-5);
  font-family: "Roboto-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  height: 48px;
  left: 24px;
  letter-spacing: 0.15px;
  line-height: 24px;
  position: absolute;
  top: 24px;
  width: 138px;
}

.overview .group-6 {
  background-color: #ffffff;
  border-radius: 29px;
  height: 58px;
  left: 264px;
  position: absolute;
  top: 55px;
  width: 58px;
}

.overview .users-outline {
  height: 24px;
  left: 281px;
  position: absolute;
  top: 72px;
  width: 24px;
}

.overview .overlap-group-wrapper {
  height: 168px;
  left: 668px;
  position: absolute;
  top: 140px;
  width: 346px;
}

.overview .overlap-group-3 {
  background-color: #007575;
  border-radius: 20px;
  height: 168px;
  position: relative;
  width: 346px;
}

.overview .text-wrapper-6 {
  color: var(--gray-5);
  font-family: "Roboto-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  height: 48px;
  left: 24px;
  letter-spacing: 0.15px;
  line-height: 24px;
  position: absolute;
  top: 24px;
  width: 153px;
}

.overview .recent-activity {
  height: 564px;
  left: 283px;
  position: absolute;
  top: 377px;
  width: 542px;
}

.overview .overlap-4 {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 24px #acacac40;
  height: 512px;
  left: 0;
  position: absolute;
  top: 52px;
  width: 540px;
}

.overview .user-activity {
  height: 56px;
  left: 41px;
  position: absolute;
  top: 24px;
  width: 479px;
}

.overview .text-wrapper-7 {
  color: var(--gray-1);
  font-family: "Roboto-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  height: 24px;
  left: 72px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 18px;
  white-space: nowrap;
}

.overview .text-wrapper-8 {
  color: var(--primary);
  font-family: "Roboto-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 24px;
  left: 387px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: right;
  top: 18px;
  white-space: nowrap;
}

.overview .rectangle-2 {
  height: 56px;
  left: 0;
  position: absolute;
  top: 0;
  width: 56px;
}

.overview .user-activity-2 {
  height: 60px;
  left: 41px;
  position: absolute;
  top: 104px;
  width: 479px;
}

.overview .text-wrapper-9 {
  color: var(--gray-1);
  font-family: "Roboto-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  height: 58px;
  left: 72px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 1px;
  width: 161px;
}

.overview .text-wrapper-10 {
  color: var(--primary);
  font-family: "Roboto-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 58px;
  left: 371px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: right;
  top: 2px;
  width: 104px;
}

.overview .user-activity-3 {
  height: 60px;
  left: 41px;
  position: absolute;
  top: 184px;
  width: 479px;
}

.overview .user-activity-4 {
  height: 60px;
  left: 41px;
  position: absolute;
  top: 264px;
  width: 479px;
}

.overview .user-activity-5 {
  height: 60px;
  left: 41px;
  position: absolute;
  top: 347px;
  width: 479px;
}

.overview .text-wrapper-11 {
  color: var(--gray-1);
  font-family: "Poppins-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  height: 58px;
  left: 72px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 0;
  width: 161px;
}

.overview .user-activity-6 {
  height: 60px;
  left: 41px;
  position: absolute;
  top: 427px;
  width: 479px;
}

.overview .rectangle-3 {
  background-color: var(--primary);
  border-radius: 5px;
  height: 40px;
  left: 532px;
  position: absolute;
  top: 20px;
  width: 6px;
}

.overview .text-wrapper-12 {
  color: var(--black-3);
  font-family: "Roboto-SemiBold", Helvetica;
  font-size: 24px;
  font-weight: 600;
  height: 32px;
  left: 2px;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.overview .recent-activity-2 {
  height: 564px;
  left: 860px;
  position: absolute;
  top: 377px;
  width: 542px;
}
