
/* body{
    background-color: #008F8F;
} */

.signup-container {
    display: flex;
    background-color: #008F8F;

  }
  
  .background-section {    
    background: #008F8F;
    
    align-items: center;
    margin-top: 15rem;
      }

  .title-header{
    align-items: center;
    margin-top: 10%;
  }

  .logo{
    margin-right:10px;
    margin-top: 10rem;
  }
  

  
  .login-section {
    flex: 1.5;
    background-color: #fff;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30rem;
    max-height:max-content;
    /* height: 1024px; */

  }
  /* label{
    margin-right: 30rem;
  } */
  
  .login-section h2 {
    margin-bottom: 20px;
  }
  
  .input-container {
    margin-bottom: 20px;
  }

  .signup-header{
    margin-top: 2px;
    margin-right:208px;
    color: #fff;
    font-size: xx-large;
    margin-right:15rem;
 }


  .header-text{
    color: #fff;
    font-weight: 800;
    font-size: larger;
  }
  
  .label {
    font-weight: bold;
    margin-left: 0px;
    margin-bottom: 5px;
    /* display: flex; */
    justify-self: left;
 
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #008F8F;
    border-radius: 5px;
  }

  
  .btnClass {
    padding: 10px 20px;
    background-color: #008F8F;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    margin-top: 3rem;
    width: 12rem;
    margin-left: 7.5rem;
  }
  
  button:hover {
    background-color:rgba(0, 128, 0, 0.948);
  }
  