/* Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: calc(100% - 211px);
    /* width: 100%; */
    /* padding-right: 8%; */
    /* padding-left: 5%; */
    /* border: 1px solid red; */
    position: fixed;
    z-index: 999;
    top: 0;
    background: #fff;
    min-height: 64px;
    /* margin-bottom: 64px; */

  }
  
  .dashboard-name {
    color: #008F8F; /* Text color */
    font-size: 2.5rem; /* Text size */
    font-weight: bold; /* Text weight */
    text-transform: capitalize;
  }
  
  .user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .user-details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .user-name {
    color: #000; /* Text color */
    margin-bottom: 0.5rem; /* Margin between name and role */
    font-weight: bold; /* Text weight */
    font-size: 15px;

  }
  
  .user-role {
    color: #000; /* Text color */
    font-size: 13px;

  }
  